/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-align: inherit;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
}


/* COMMON */

.large-container {
    width: 70%;
    margin: 0 auto;
    /* debug */
    border: 1px solid black;
}

.flex-container {
    display: flex;
}

.narrow-container {
    width: 60%;
    margin: 0 auto;
    /* debug */
    border: 1px solid black;
    min-height: 900px;
    padding: 2rem;
}


/* HEADER */
/* HEADER-TOP */

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* debug */
    background-color: #069b8c;
    border: 1px solid black;
    font-size: 1rem;
}

.left-nav {
    justify-content: flex-start;
    gap: 2rem;
    /* debug */
    border: 1px dashed black;
}

.logo-header,
.login {
/* debug */
    width: 30%;
    border: 1px dashed black;
}


.header-left-links{
    /* debug */
    border: 1px dashed black;
}

.header-left-links ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
} 

.right-nav {
    justify-content: flex-end;
    gap: 2rem;
    /* debug */
    border: 1px dashed black;
}

.header-right-links ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
} 

.login {
    text-align: right;
} 

.hero-section {
    background-color: #b4d0e7;
    width: 100%;
    /* debug */
    margin-top: 5rem;
    min-height: 550px;
    border: 1px solid black;
}

.row {
    display: flex;
}

.small-column {
    /* debug */
    width: 30%;
    background-color: yellow;
    min-height: 300px;
    border: 1px dashed black;
}

.large-column {
    width: 70%;
    /* debug */
    background-color: green;
    min-height: 300px;
    border: 1px dashed black;
}

.business-plan {
    padding-top: 2rem;
}

.invoicing {
    text-align: left;
}

.business-columns {
    width: 100%;
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    /* debug */
    min-height: 700px;
    
}

.business-col {
    width: calc(100% / 3);
    /* debug */
    border: 1px dashed black;
    min-height: 700px;
    background-color: pink;
}

.enterprise {
    /* debug */
    margin-top: 2rem;
    min-height: 300px;
    border: 1px dashed black;
    background-color: orangered;
}