/* ROOT */
:root {
    --btn-bg-color: #0061ff;
    --btn-fnt-color: white; 
    --bg-color: #b4d0e7; 
    --bd-color: #d0d0d3;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
}

ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}


/* COMMON */

h1 {
    text-align: left;
    font-size: 5rem;
    margin-bottom: 18px;
}

h2 {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

h3 {
    padding-bottom: .7rem;
    font-size: 1.5rem;
}

h4 {
    /* padding: 2rem 0; */
    font-size: .9rem;
}

h5 {
    font-size: 1em;
}

section {
    /* debug */
    margin-top: 2rem;
}

/* SECTIONS - CONTAINER - ROW - COLUMNS */

.large-container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* debug */
    border: 1px solid fuchsia;
}

.hero-section .large-container {
    position: relative;
    top: 80px;
    left: 0;
}

.narrow-container {
    width: 60%;
    margin: 0 auto;
    max-width: 1000px;
    /* debug */
    border: 1px solid black;
    padding: 2rem;
}

.big-container {
    width: 100%;
    margin: 0 auto;
    /* debug */
    border: 1px solid black;
}

.flex-container {
    display: flex;
}

.row {
    display: flex;
}


.small-column {
    width: 30%;
}

.large-column {
    width: 70%;
}

/* MARGINS */

.mb-1 {
    margin-bottom: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

/* BUTTONS */

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
} 

.btn:hover {
    filter: brightness(1.4);
}

.btn-blue {
    background-color: var(--btn-bg-color);
    color: var(--btn-fnt-color);
}

/* HEADER */

/* HEADER-TOP */

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    font-size: 1rem;
}

nav {
    height: 100%;
    align-items: center;
}

.left-nav {
    gap: 2rem;
}

.header-left-links ul {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
} 

.right-nav {
    gap: 2rem;
}

.header-right-links ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
} 

.border-hover:hover {
    border-bottom: 1px solid black;
}

/* HERO */

.hero-section {
    background-color: var(--bg-color);
    width: 100%;
    margin-bottom: 80px;
    padding-top: 4rem;
}

.arrow {
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

/* MAIN */

.business-plan {
    /* debug */
    padding-top: 2rem;
}

.invoicing {
    text-align: left;
}

.space-between {
    justify-content: space-between;
}

.business-columns {
    width: 100%;
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
}

.business-col {
    width: 30%;
    border: 1px solid var(--bd-color); 
}

.customer-type {
    font-size: .9rem;
    padding: .7rem;
    text-align: center;
    border-bottom: 1px solid var(--bd-color);
}

.business-col-content {
    padding: 2rem;
}

.business-col-content li {
    margin-bottom: 1.5rem;
}

.offer-name {
    padding: .7rem;
}

.offer-price {
    font-size: .9rem;
    padding-top: .7rem;
}

.offer-conditions {
    font-size: .9rem;
    color: grey;
    padding-top: .7rem;
}

li i {
    margin-right: .5rem;
}

.divider {
    width: 30%;
    border: 1px solid var(--bd-color);
    margin: 2rem 0;
}

.enterprise {
    margin-top: 2rem;
    border: 1px solid var(--bd-color);
}

.enterprise-content {
    padding: 2rem;
} */

.large-column-60 {
    width: 60%;
}

.small-column-40 {
    width: 40%;
    padding: 2rem;
}

.btn-free {
    background-color: white;
    color: black;
    border: 1px solid black;
}
    
.drop-business-h2 {
    text-align: center;
}

.business-drop-columns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* debug */
    padding-top: 2rem;
}

.business-drop-col {
    width: calc(60% / 2);
}

.users {
    /* padding-bottom: 3rem; */
    font-size: 2.5rem;
}

.part-columns {
    width: 100%;
    display: flex;
}

.part-col {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    /* debug */
    border: 1px dashed black;
    background-color: pink;
}

.squares {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.square {
    width: calc(100% / 2);
    min-height: 300px;
    display: flex;
    /* debug */
    border: 1px dashed black;
    padding: 4rem;

}

.square img {
    filter: invert(1);
    justify-content: center;
    align-items: center;    
}

.des-green {
    background-color: #a2d39b;
    border: 15px inset #d1e9cd;
}

.arizona {
    background-color: #61082b;
}

.florida {
    background-color: #0093ce;
}

.topps {
    background-color: #ff1c1c;
}

.smallgrey {
    background-color: #f5f5f5;
    overflow-y: auto;
    /* height: 60vh; */
    padding: 2rem;
    
}

.sponsorship-text {
    overflow-y: auto;
    height: 160px;
}

.medium-divider {
    width: 40%;
}

.bicycle {
    background-color: #d5001f;
}

.hearst {
    background-color: #b4d0e7;
}

.lonely-pl {
    background-color: #0d2481;
}

.outdoor {
    background-color: #ffd830;
}

.free-trial {
    background-color: var(--bg-color);
    padding: 4rem 0;
}

.trial-h2 {
    color: #61082b;
    font-size: 2.5rem;
}

.btn-trial {
    background-color: white;
    color: black;
    border: 1px solid white;
    margin-top: 1rem;
}

.faq-content {
    min-height: 420px;
}

.faq-content ul {
    list-style-type: none;
} 


.question {
    display: block;
}

.answer {
    display: none;
}

.question:hover .answer {
    display: block;
}

footer {
    background-color: black;
    color: white;
}

/* .footer-top {
    width: 100%;
} */

.footer-columns {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
}

.footer-col {
    width: calc(80% / 5);
    min-height: 320px;
    justify-content: space-between;
}

.footer-links li a {
    /* list-style-type: none; */
    color: white;
    margin-top: 1rem; 
    text-decoration: none;
    padding-bottom: 1rem;
}

.footer-bottom {
    /* debug */
    min-height: 60px;
}

.language {
    justify-content: center;
    color: gray;
}

.small-divider {
    width: 10%;
}